@font-face {
  font-family: 'MetaSerifPro';
  src: url('../assets/fonts/MetaSerifPro-Book.woff2') format('woff2'),
    url('../assets/fonts/MetaSerifPro-Book.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF;
}

@font-face {
  font-family: 'GT-America';
  src: url('../assets/fonts/GT-America-Standard-Light.woff2') format('woff2'),
    url('../assets/fonts/GT-America-Standard-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF;
}

@font-face {
  font-family: 'GT-America';
  src: url('../assets/fonts/GT-America-Standard-Regular.woff2') format('woff2'),
    url('../assets/fonts/GT-America-Standard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF;
}

@font-face {
  font-family: 'GT-America';
  src: url('../assets/fonts/GT-America-Standard-Medium.woff2') format('woff2'),
    url('../assets/fonts/GT-America-Standard-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF;
}

@font-face {
  font-family: 'GT-America';
  src: url('../assets/fonts/GT-America-Standard-Bold.woff2') format('woff2'),
    url('../assets/fonts/GT-America-Standard-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF;
}

::selection,
::-moz-selection {
  background: var(--color-secondary-light);
  color: var(--color-white);
}

body {
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-desktop-s);
  line-height: 1.45;
}

h2 {
  font-family: var(--font-family-secondary);
  font-weight: 500;
  font-size: 22px;
  line-height: 1.45;
  margin: 0;
}

h3 {
  font-family: var(--font-family-secondary);
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  margin: 0;
}

h4 {
  font-family: var(--font-family-secondary);
  font-weight: 500;
  font-size: var(--font-size-desktop-m);
  line-height: 1.25;
  margin: 0;
}

h5 {
  font-family: var(--font-family-secondary);
  font-weight: 500;
  font-size: var(--font-size-desktop-s);
  line-height: 1.45;
  margin: 0;
}

h6 {
  font-family: var(--font-family-secondary);
  font-weight: normal;
  font-size: var(--font-size-desktop-s);
  line-height: 1.45;
  margin: 0;
}

small {
  font-size: var(--font-size-desktop-xs);
  line-height: 1.25;
}

a {
  text-decoration: none;
}

p a,
.t-link a {
  color: inherit;
  text-decoration: underline;
}

p.error {
  color: var(--color-feedback-alarm);
}
