main {
  padding-left: var(--space-s);
  padding-right: var(--space-s);
}

.app-header .app-header__custom-logo {
  display: block;
  height: var(--logo-height);
}

.app-header .navigation-menu__card .card {
  box-shadow: var(--shadow-xl);
}

.app-header .navigation-menu__footer {
  display: block;
}

.app-header .navigation-menu__footer li:not(:first-of-type) {
  margin-top: var(--padding-small);
}

.app-header .navigation-menu__footer li:not(:first-of-type) .navigation-menu__footer__link::before {
  display: none;
}

@media screen and (min-width: 768px) {
  main {
    min-height: calc(100vh - var(--header-height-desktop) - var(--footer-height-desktop));
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: calc(var(--space-s) * 2);
  }
}
