.authenticate__camera-container,
.authenticate__camera-stream {
  display: block;
  width: 100%;
}

.device--desktop .authenticate__camera-stream {
  transform: scaleX(-1);
}

.authenticate__camera-container {
  position: relative;
  margin-top: var(--space-s);
  border-radius: var(--border-radius-s);
  overflow: hidden;
}

.authenticate__camera-crosshair {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  position: absolute;
  left: 2rem;
  right: 2rem;
  mix-blend-mode: difference;
}

.authenticate__camera-crosshair--top {
  top: 2rem;
}

.authenticate__camera-crosshair--bottom {
  bottom: 2rem;
}

.authenticate__camera-crosshair::before,
.authenticate__camera-crosshair::after {
  display: block;
  content: '';
  width: 3rem;
  height: 3rem;
  flex: none;
  border: 2px solid var(--color-white);
}

.authenticate__camera-crosshair::before {
  border-right-width: 0;
}

.authenticate__camera-crosshair::after {
  border-left-width: 0;
}

.authenticate__camera-crosshair--top::before,
.authenticate__camera-crosshair--top::after {
  border-bottom-width: 0;
}

.authenticate__camera-crosshair--bottom::before,
.authenticate__camera-crosshair--bottom::after {
  border-top-width: 0;
}

.authenticate__help {
  margin: var(--space-l) 0;
}

.authenticate__help {
  color: var(--color-neutral-light);
  font-size: 0.8em;
  margin: var(--space-m) 0 0;
}

.authenticate__checkbox {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  margin-top: var(--space-xxl);
}

.authenticate__checkbox .u-infotext {
  color: var(--color-neutral);
  font-size: 0.8em;
  margin-bottom: 0;
}
